@font-face {
  /*LIGHT*/
  font-family: "Gotham Black";
  src: url('/assets/fonts/GothamBlack.otf') format('opentype');
}

.urnj { color: #e27217; }
.purp { color: #3d004c; }

.invisible { display: none; }

body {
  position: relative;
  font-family: 'Gotham Black', Helvetica, sans-serif;
  background-color: #3d004c;
  color: #f4f4f4;
  font-size: 2em;
}

nav a { color: #e27217; text-decoration: none !important; padding-top:}
.content { margin-top: 30vh; }
.intro p, .about p { display: inline-block; }
.about a { color: #e27217; text-decoration: underline; }
a:hover { color: #e27217; }

.underline { border-style: dashed; border-width: 0 0 2px 0; border-color: #e27217; }
.images { position: relative; min-height: 15vh; }
#tae-img { z-index: -1; position: absolute; }
#contact-img { z-index: 0; position: absolute; left: 0; top: 0; }

@media screen and ( max-width: 414px ) {
  body { font-size: 1em; }
  .container { min-height: 60vh; }
  .images { min-height: 10vh; }
  nav { padding-bottom: 2vh; }

}
