body { background-color: #000; color: #fff; }
a, a:hover { color: #00CFFF; }
.contact {color: #00CFFF; }
ul { list-style-type: none; padding: 0; }
.maker { 
  text-decoration: underline;
  text-decoration-color: #00CFFF;
 }

 body { font-size: 1.5em; }
  .logo-container { height: 100vh; }
  .logo { height: 65vh; padding: 30vh 5vw; }
  .greeting { height: 35vh; }
  .about { height: 30vh; }

  .contact { padding: 10vh 2vw; }
  .contact-img { padding: 0 10vw; }
  .container { 
      margin-left: auto;
      margin-right: auto;
    }
  .row { margin: 0; }
  .intro { height: 130vh; }
  .type { text-align: right; }
  .wip { color: gray; }