body { background-color: #000; color: #fff; }
a, a:hover { color: #00CFFF; }
/* span {color: #6900FF; } */
ul { list-style-type: none; padding: 0; }
@media only screen and (min-width: 376px){ body { font-size: 1.5em; } }
.intro { min-height: 70vh; padding-top: 30vh; }
.title { padding-bottom: 10vh; }
.text { padding-bottom: 5vh; }
img { padding-bottom: 5vh; }
h4 { padding-bottom: 2vh; }

@media only screen and (max-width: 414px){
  .intro { height: 110vh; }
  .title {padding-bottom: 0; }
}