@font-face {
  /*LIGHT*/
  font-family: "Gotham Black";
  src: url('/assets/fonts/GothamBlack.otf') format('opentype');
  font-style: normal;
  font-weight: bold;
  
}

@font-face {
  font-family: "Gotham Book";
  src: url('/assets/fonts/GothamBook.otf') format('opentype');
  font-style: normal;
}

body { font-family: "Gotham Book", Helvetica, sans-serif; color: #E5E5E5; background-color: #6900FF; }
h1, h2 { font-family: "Gotham Black", Helvetica, sans-serif; }
span { color: #00CFFF; }

.heading { 
  height: 100vh; width: 100%; 
  
  background-image: url(assets/TAE-HEADING.png); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-me { min-height: 50vh; background-color: #000; }
.about_text a { color: #00CFFF; }
.about_text a:hover { color: #6900FF; }
.about_text { padding: 10%; font-size: 1.25em; }
.about_photo {
  min-height: 100%; width: auto;
  
  background-image: url(assets/me.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card { background-color: #000; border: solid 1px #202020; }
.projects { padding-top: 5%; padding-bottom: 10vh; min-height: 60vh; background-color: #000; }
.contact { margin: 10% auto; }
.projects_items { padding: 5% 15%; }
.projects_item { margin-bottom: 10px; }
.projects_item a { color: #e5e5e5; }
.projects_item a:hover { text-decoration: none; }
.pricing-contact { min-height: 30vh; }
.pricing { min-height: 60vh; padding-top: 5%; background-color: #000; }
.pricing_category_title { color: #6900FF; }
.pricing_items, .pricing_price { padding: 5px;}
.pricing_price { color: #00CFFF; }
.pricing a { color: #00CFFF; }
.pricing a:hover { color: #6900FF; }
.contact-img { max-width: 40vw; }
