@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Passion+One&display=swap');

body { 
    font-size: 62.5%; 
    color: #f3f3f3;
    background-color: #030303;
    font-family: "Domine", sans-serif;
}
html { font-size: 1.85rem; }

h1, h2 {
    font-family: "Passion One", cursive;
}


.container { 
    width: 70vw; 
    display: block;
    margin: 0 auto;
}

.home > * {
    width: 50vw;
}

@media screen and (max-width: 480px) {
    .container { 
        width: 90vw;
        padding: 0 10px;
    }

    .title { font-size: 1.2rem; }

    .home > * { width: 100%; }
}

a {
    text-decoration: none;
    color: #bf00ff;
}

a:hover {
    text-decoration:underline;
}


.title { 
    margin: 0; 
    color: #40e0d0; 
    font-size: 3.8rem;
}

.contact span {
    color: #40e0d0;
    font-weight: bold; 
}

.heading { 
    height: 100vh;
    padding: 5vh 0; 
}

.heading .splash {
    margin: 30vh 0;
}
.splash h1 { margin: 10px 0; }
.splash h3 { margin-left: 10vw; }

.content { 
    min-height: 100vh;
    padding: 10vh 0;
}

.content > * {
    margin: 10vh 0;
}

.overview > ul {
    list-style-type: none;
}

li { margin-left: 1em; }
.links li { padding: 3px 0; }