@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Tiro+Bangla&display=swap');

html {
    background-color: #0a0a0a;
    color: #f4f4f4;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 5em;
    margin-top: 10vh;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 { 
    letter-spacing: -5px;
    font-family: 'Tiro Bangla', serif; 
}

nav { 
    margin-top: 10vh; 
    margin-left: 10vw;
}

.nav-link {
    padding: 5px 0;
    margin: 0 10px;
    border-bottom: 1px solid #f4f4f4;
}
nav a { 
    display: inline-block;
    padding: 0 10px;
    color: #f4f4f4; 
}
a {
    text-decoration: none;
    color: #00a86b;
}

nav a:hover {
    color: #00a86b;
    border-color: #00a86b;
}

a:hover { 
    color: #710193;

}

article {
    width: 70vw;
    margin: 0 auto;
    display: block;
}

.subhead {
    margin: 0;
    padding-bottom: 3vh;
    font-size: 2em;
    padding-left: 10vw;
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li { padding-bottom: 2px; }